:root {
  --main: #cba422;
  --background: #1e1e1e;
  --white: #f4f4f4;
  --html: rgba(255, 255, 255, 0.214);
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 55px;
  letter-spacing: 10px;
}

h2 {
  font-size: 50px;
  line-height: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 40px;
  font-weight: lighter;
  color: var(--white);
  margin-bottom: 30px;
}
h5 {
  font-size: 50px;
  font-weight: lighter;
  color: var(--html);
  margin-bottom: 30px;
}

h6 {
  font-size: 20px;
  color: var(--main);
}
p {
  font-size: 16px;
  line-height: 30px;
}

.btn {
  border: 1px solid var(--white);
  padding: 15px 25px;
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.circle-mouse {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 1px solid #000;
  border-radius: 36px;
  z-index: -100;
}

p span,
::before,
::after {
  font-family: "Source Serif 4", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  color: var(--html);
  text-transform: none;
}

header {
  height: 100vh;
  scroll-snap-align: center;
}

.wrapper {
  padding: 0 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.circle-logo {
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 6px;
  z-index: 10;
  margin-right: 15px;
}
/*Ab hier Logo*/

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  text-transform: uppercase;
  color: var(--main);
  line-height: 18px;
  width: 200px;
  font-weight: 700;
  letter-spacing: 5px;
}

/*Navigation*/

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}

nav ul a {
  color: var(--white);
  text-decoration: none;
}

nav li {
  padding: 0 35px;
  cursor: pointer;
}

nav li:last-child {
  display: flex;
  align-items: center;
}

nav li img {
  padding-right: 10px;
  width: 30px;
}

.active a {
  font-weight: bold;
  color: var(--main);
}

/*Titel im Header*/

.wrapper {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

header h1 {
  display: flex;
  position: relative;
  padding: 15px 0;
  margin-top: 30px;
}

section h2 {
  display: flex;
  margin-top: 30px;
  position: relative;
}

header section h1::before {
  content: "<h1>";
  position: absolute;
  left: 0px;
  top: 0px;
}
header section h1::after {
  content: "</h1>";
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.my-skills .title-wrapper h2 {
  position: relative;
  padding-left: 30px;
}

.my-skills .title-wrapper h2::before {
  content: "<h2>";
  position: absolute;
  left: 0px;
  top: -50px;
}
.my-skills .title-wrapper h2::after {
  content: "</h2>";
  position: absolute;
  left: 0px;
  bottom: -50px;
}

.my-skills-text {
  position: relative;
  padding-left: 30px;
}

.my-skills-text::before {
  content: "<p>";
  position: absolute;
  left: 0px;
  top: -30px;
}
.my-skills-text::after {
  content: "</p>";
  position: absolute;
  left: 0px;
  bottom: -30px;
}

/*Jump Animation*/

h1 span,
h2 span {
  letter-spacing: 6px;
  display: block;
  padding: 0 5px;
}

.scrollanimation {
  opacity: 0;
}

.sichtbar {
  opacity: 1;
  animation: jumpescroll 0.7s ease 1;
}

h1 span:hover,
h2 span:hover {
  color: var(--main);
  animation: jumpe 0.7s ease 1;
}

@keyframes jumpe {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2, 0.8);
  }

  40% {
    transform: scale(0.8, 1.9);
  }

  60% {
    transform: scale(1.2, 0.8);
  }

  80% {
    transform: scale(0.9, 1.2);
  }
}

@keyframes jumpescroll {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2, 0.8);
  }

  40% {
    transform: scale(0.8, 1.9);
  }

  60% {
    transform: scale(1.2, 0.8);
  }

  80% {
    transform: scale(0.9, 1.2);
  }
}

.space {
  margin-right: 25px;
}

/*Jump Animation ende*/

.htmlbase {
  align-self: flex-start;
  position: absolute;
  top: 10px;
}

header {
  position: relative;
}

header::before {
  content: "<header>";
  position: absolute;
  top: 120px;
}
header:after {
  content: "</header>";
  position: absolute;
  bottom: 30px;
}

.my-skills {
  position: relative;
}

main {
  position: relative;
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
}

main::after {
  content: "</main>";
  position: absolute;
  bottom: 30px;
  align-self: flex-start;
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
  height: 70%;
}

.header-wrapper article {
  align-self: center;
}

.title-wrapper {
  margin-bottom: 60px;
}

/*AVATAR*/

.avatar {
  position: relative;
}

.avatar-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  width: 450px;
}

.eye-wrapper img {
  position: absolute;
  width: 24px;
  height: auto;
}

.eye-wrapper {
  position: absolute;
  top: 113px;
  left: 48px;
  display: flex;
  transform: rotate(350deg);
}

.eye-wrapper div {
  width: 44px;
  height: 33px;
  position: relative;
  margin: 21px;
  border-radius: 100%;
}

/*My Skills*/

.my-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-skills article:nth-child(2) {
  margin-right: 60px;
}

.my-skills article {
  width: 50%;
}

/*SkillBar*/
.bar-wrapper {
  margin-bottom: 15px;
}

.bar-wrapper h6 {
  margin-bottom: 15px;
}

.bar-wrapper-full {
  width: 100%;
  height: 15px;
  background-color: var(--white);
  border-radius: 20px;
}

/*HTML*/
.bar-inner-html {
  background-color: var(--main);
  width: 20%;
  height: 15px;
  border-radius: 20px;
  /* animation: skills-html 1.5s ease-in-out 1; */
}

@keyframes skills-html {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

/*CSS*/
.bar-inner-css {
  background-color: var(--main);
  width: 80%;
  height: 15px;
  border-radius: 20px;
  /* animation: skills-css 1.7s ease-in-out 1; */
}

@keyframes skills-css {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

/*JS*/
.bar-inner-js {
  background-color: var(--main);
  width: 75%;
  height: 15px;
  border-radius: 20px;
  /* animation: skills-js 1.8s ease-in-out 1; */
}

@keyframes skills-js {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

/*React*/
.bar-inner-react {
  background-color: var(--main);
  width: 70%;
  height: 15px;
  border-radius: 20px;
  /* animation: skills-react 1.9s ease-in-out 1; */
}

@keyframes skills-react {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

/*wordpress*/
.bar-inner-wordpress {
  background-color: var(--main);
  width: 85%;
  height: 15px;
  border-radius: 20px;
  /* animation: skills-wordpress 1.9s ease-in-out 1; */
}

@keyframes skills-wordpress {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

/*UI*/
.bar-inner-ui {
  background-color: var(--main);
  width: 85%;
  height: 15px;
  border-radius: 20px;
  /* animation: skills-ui 2s ease-in-out 1; */
}

@keyframes skills-ui {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

/*XD*/
.bar-inner-xd {
  background-color: var(--main);
  width: 100%;
  height: 15px;
  border-radius: 20px;
  /* animation: skills-xd 2.1s ease-in-out 1; */
}

@keyframes skills-xd {
  from {
    width: 0%;
  }
  to {
    width: 0%;
  }
}

/*PS*/
.bar-inner-ps {
  background-color: var(--main);
  width: 85%;
  height: 15px;
  border-radius: 20px;
  /* animation: skills-ps 2.2s ease-in-out 1; */
}

@keyframes skills-ps {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

/*RESPONSIVE*/

/*small desk*/
@media screen and (max-width: 1111px) {
  .avatar-img {
    width:270px;
    margin-right: 20px;
}
.eye-wrapper{
  top: 71px;
  left: 31px;
}
.eye-wrapper div {
  width: 36px;
  height: 23px;
  margin: 7px;  
}

.eye-wrapper img {
  width: 16px;
}

header h2 {
  font-size: 40px;
}

}


/*tablet*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    letter-spacing: 10px;
  }

  h2 {
    font-size: 35px;
  }

  header section h2 {
    margin: 15px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 25px;
    font-weight: lighter;
    color: var(--white);
    margin-bottom: 30px;
  }
  h5 {
    font-size: 35px;
    font-weight: lighter;
    color: var(--html);
    margin-bottom: 30px;
  }

  h6 {
    font-size: 18px;
    color: var(--main);
  }
  p {
    font-size: 16px;
    line-height: 30px;
  }
  p span,
  ::before,
  ::after {
    font-family: "Source Serif 4", sans-serif;
    font-size: 10px;
    letter-spacing: 0;
    color: var(--html);
    text-transform: none;
    opacity: 0.5;
  }

  .wrapper {
    padding: 0 15px;
  }

  h1 span,
  h2 span {
    letter-spacing: 6px;
    display: block;
    padding: 0 0px;
  }

  nav ul {
    display: none;
  }
  /*General settings end*/

  /*AVATAR*/

  .avatar {
    position: relative;
  }

  .avatar-img {
    width: 250px;
    margin-right: 15px;
  }

  .eye-wrapper img {
    position: absolute;
    width: 13px;
    height: auto;
  }

  .eye-wrapper {
    position: absolute;
    top: 65px;
    left: 28px;
    display: flex;
    transform: rotate(350deg);
  }

  .eye-wrapper div {
    width: 26px;
    height: 17px;
    position: relative;
    margin: 10px;
    border-radius: 100%;
  }

  /*MY Skills*/

  .my-skills article:nth-child(2) {
    margin-right: 30px;
  }
}

/*handy*/
@media screen and (max-width: 576px) {
  h1 {
    font-size: 30px;
    letter-spacing: 10px;
  }

  h2 {
    font-size: 25px;
  }

  header section h2 {
    margin: 10px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
    font-weight: lighter;
    color: var(--white);
    margin-bottom: 30px;
  }
  h5 {
    font-size: 25px;
    font-weight: lighter;
    color: var(--html);
    margin-bottom: 30px;
  }

  h6 {
    font-size: 16px;
    color: var(--main);
  }
  p {
    font-size: 16px;
    line-height: 30px;
  }
  p span,
  ::before,
  ::after {
    font-family: "Source Serif 4", sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    color: var(--html);
    text-transform: none;
    opacity: 0.5;
  }

  .wrapper {
    padding: 0 30px;
  }

  h1 span,
  h2 span {
    letter-spacing: 6px;
    display: block;
    padding: 0 0px;
  }

  nav ul {
    display: none;
  }

  .logo p {
    font-size: 12px;
  }

  .circle-logo {
    height: 30px;
    width: 30px;
    margin-right: 9px;
  }

  /*General settings end*/

  /*Header*/

  .header-wrapper {
    display: block;
  }

  .title-wrapper {
    margin: 0 0 30px 0;
  }

  .header-wrapper article:not(.eye-wrapper) {
  margin: auto;
  }

  header section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}   

/*AVATAR*/

  /*MY Skills*/

  .my-skills {
    display: block;
  }

  .my-skills article{
    width: 100%;
  }

  .my-skills .title-wrapper h2{
    padding: 20px 0 0 0;
    margin: 90px 0 45px 0 ;
  }

  .my-skills-text{
    padding-left: 0;
    margin-bottom: 45px;
  }

  .my-skills article:nth-child(2) {
    margin-right: 30px;
  }

  section h2{
    margin: 0 0 30px 0;
  }

  .my-skills .title-wrapper h2::before {
    top: -15px;
  }

  .my-skills .title-wrapper h2::after {
    bottom: -32px;
  }

  /*Bar*/

  .bar-wrapper-full{
    height: 10px;
  }

  .bar-height{
    height: 10px;
  }

  .bar-wrapper h6{
    margin-bottom: 2px;
  }

  main::after{
    bottom: 15px;
  }

  .htmlbase{
    display: none;
  }
  main {
    display: block;
  }
}
