/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif 4', sans-serif; */

:root {
  --main: #cba422;
  --background: #1e1e1e;
  --white: #f4f4f4;
  --html: rgba(255, 255, 255, 0.214);
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 80px;
  display: inline-block;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 40px;
  font-weight: lighter;
  color: var(--white);
  margin-bottom: 30px;
}

h5 {
  font-size: 50px;
  font-weight: lighter;
  color: var(--html);
  margin-bottom: 30px;
}
p {
  font-size: 16px;
  line-height: 30px;
}

.btn {
  border: 1px solid var(--white);
  padding: 15px 25px;
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
}

.circle-mouse {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 1px solid #000;
  border-radius: 36px;
  z-index: -100;
}

p span,
::before,
::after {
  font-family: "Source Serif 4", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  color: var(--html);
  text-transform: none;
}

/*Ab hier Content*/

header {
  height: 100vh;
  scroll-snap-align: center;
  padding: 0 100px;
  overflow: hidden;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.burgermenu {
  width: 30px;
  display: none;
}

.circle-logo {
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 6px;
  z-index: 10;
  margin-right: 15px;
}
/*Ab hier Logo*/

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  text-transform: uppercase;
  color: var(--main);
  line-height: 18px;
  width: 200px;
  font-weight: 700;
  letter-spacing: 5px;
}

/*Navigation*/

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}


.toggle-button-menu{
  display: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}



nav ul a {
  color: var(--white);
  text-decoration: none;
}

nav li {
  padding: 0 35px;
  cursor: pointer;
}

nav li:last-child {
  display: flex;
  align-items: center;
}

nav li img {
  padding-right: 10px;
  width: 30px;
}

.active a {
  font-weight: bold;
  color: var(--main);
}

/*Swing line light*/

.g-line {
  position: absolute;
  right: -130px;
  top: -50px;
  width: 100px;
  height: 150px;
  border: 1px solid var(--white);
  border-top: none;
  border-right: none;
  border-bottom: none;
  transform-origin: 0 0;
  animation: lineMove 6s ease-in-out 1;
  cursor: pointer;
}

.g-line:hover {
  border-color: var(--main);
}

.g-line:hover .g-line-kugel {
  background-color: var(--main);
}

.g-line-kugel {
  background-color: var(--white);
  height: 12px;
  width: 12px;
  border-radius: 50px;
  position: absolute;
  bottom: 0px;
  left: -7px;
}

@keyframes lineMove {
  0% {
    width: 100px;
    transform: rotate(-30deg);
  }

  14.28% {
    width: 100px;
    transform: rotate(25deg);
  }
  28.56% {
    width: 100px;
    transform: rotate(-20deg);
  }
  42.84% {
    width: 100px;
    transform: rotate(15deg);
  }
  57.12% {
    width: 100px;
    transform: rotate(-10deg);
  }

  71.40% {
    width: 100px;
    transform: rotate(5deg);
  }

  85.68% {
    width: 100px;
    transform: rotate(-3deg);
  }

  100% {
    width: 100px;
    transform: rotate(0deg);
  }
}

/*Titel im Header*/

header section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  position: relative;
}

header section h1 {
  display: block;
  text-align: center;
}

h1 span,
h2 span {
  letter-spacing: 6px;
}

.scrollanimation {
  opacity: 0;
}

.sichtbar {
  opacity: 1;
  animation: jumpescroll 0.7s ease 1 0.2s;
  display: inline-block;
}

h1 span:hover,
h2 span:hover {
  color: var(--main);
  animation: jumpe 0.7s ease 1;
  display: inline-block;
}

/*Jump Animation*/
@keyframes jumpe {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2, 0.8);
  }

  40% {
    transform: scale(0.8, 1.9);
  }

  60% {
    transform: scale(1.2, 0.8);
  }

  80% {
    transform: scale(0.9, 1.2);
  }
}

@keyframes jumpescroll {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2, 0.8);
  }

  40% {
    transform: scale(0.8, 1.9);
  }

  60% {
    transform: scale(1.2, 0.8);
  }

  80% {
    transform: scale(0.9, 1.2);
  }
}

.space {
  margin-right: 25px;
}

/*Jump Animation ende*/

.title-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.title-wrapper:before {
  content: "<h1>";
  position: absolute;
  left: 0px;
  top: 0px;
}
.title-wrapper::after {
  content: "</h1>";
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.htmlbase {
  align-self: flex-start;
  position: relative;
}

.htmlbase::after {
  content: "<header>";
  position: absolute;
  left: 0px;
  top: 63px;
}

.sub-title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

header section p::before {
  content: "<p>";
  position: absolute;
  left: 0px;
  top: 0px;
}

header section p::after {
  content: "</p>";
  position: absolute;
  left: 0px;
  bottom: -30px;
}

header::after {
  content: "</header>";
  position: absolute;
  bottom: 15px;
}

/*Ab hier Main*/

.wrapper {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

/*Thats me & my Skills*/

.thats-me {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  scroll-snap-align: center;
  background: rgb(30, 30, 30);
  background: linear-gradient(
    0deg,
    rgba(30, 30, 30, 1) 0%,
    rgba(30, 30, 30, 1) 95%,
    rgba(30, 30, 30, 0) 100%
  );
  padding: 0 100px;
}

.thats-me .html-main {
  position: absolute;
  top: 10px;
}

.thats-me article {
  width: 50%;
}

.thats-me::before {
  content: "<section>";
  position: absolute;
  top: 50px;
}

.thats-me::after {
  content: "</section>";
  position: absolute;
  bottom: 50px;
}

.thats-me .h2 {
  position: relative;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.thats-me .h2::before {
  content: "<h2>";
  position: absolute;
  top: -35px;
  left: 0px;
}
.thats-me .h2::after {
  content: "</h2>";
  position: absolute;
  bottom: -35px;
  left: 0px;
}

.thats-me-description {
  position: relative;
  width: 90%;
  margin-bottom: 85px;
  padding-left: 30px;
}
.thats-me-description::before {
  content: "<p>";
  position: absolute;
  top: -30px;
  left: 0px;
}
.thats-me-description::after {
  content: "</p>";
  position: absolute;
  bottom: -30px;
  left: 0px;
}

.thats-me a {
  position: relative;
  width: 90%;
  margin-left: 30px;
}
.thats-me a::before {
  content: "<a>";
  position: absolute;
  top: -35px;
  left: -30px;
}
.thats-me a::after {
  content: "</a>";
  position: absolute;
  bottom: -35px;
  left: -30px;
}

/*Work*/

.projects-main-wrapper {
  height: 100vh;
  position: relative;
  scroll-snap-align: center;
  background-color: var(--background);
  padding: 0 100px;
}

.projects-main-wrapper::before {
  content: "<section>";
  position: absolute;
  top: 50px;
}

.projects-main-wrapper::after {
  content: "</section>";
  position: absolute;
  bottom: 50px;
}

#full {
  height: 100%;
}
.project-img {
  max-width: 30%;
}

.projects {
  width: 100%;
  height: 70%;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-article {
  align-self: center;
  width: 70%;
}

.project-counter {
  width: 10%;
}
.project-logo {
  width: 50%;
}
.project-text {
  width: 40%;
}

/*3d Effekt*/
.projects .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  position: relative;
}
.projects .element {
  width: 100%;
  height: auto;
  min-height: 200px;

  font-family: Sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  #el {
    width: 80%;
    font-size: 20px;
  }
}

/*Work*/

.projects-main-wrapper h2 {
  margin: 0;
  padding-top: 140px;
  position: relative;
  padding-left: 30px;
}

.projects-main-wrapper h2::before {
  content: "<h2>";
  position: absolute;
  top: 85px;
  left: 0px;
}

.projects-main-wrapper h2::after {
  content: "</h2>";
  position: absolute;
  bottom: -50px;
  left: 0px;
}

/*Project Card*/

/*Counter left*/
.project-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--html);
  margin-right: 100px;
}

.project-counter div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
}

.project-counter h3 {
  font-weight: normal;
  font-size: 35px;
}

.project-counter p {
  text-transform: uppercase;
}

.project-counter h3:first-child {
  font-size: 60px;
}
.project-counter h3:last-child {
  margin: 0 0 5px 6px;
  font-weight: lighter;
}

.line {
  height: 60px;
  width: 2px;
  background-color: var(--html);
  margin: 0 10px;
}

/*logo center*/

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 100px;
  position: relative;
  width: 250px;
  height: 180px;
}

.project-img img {
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.502);
  position: absolute;
  filter: grayscale(10%) brightness(80%);
}

/*Bild 1*/
.project-img img:nth-child(1) {
  bottom: 0px;
  left: 0px;
}
/*Bild 2*/
.project-img img:nth-child(2) {
  bottom: 10px;
  left: 10px;
}
/*Bild 3*/
.project-img img:nth-child(3) {
  bottom: 20px;
  left: 20px;
}

/*Animation*/
.project-img:hover img:nth-child(1) {
  transition: all 0.5s ease;
  bottom: -130px;
  filter: grayscale(0%) brightness(100%);
}
.project-img:hover img:nth-child(2) {
  transition: all 0.5s ease;
  filter: grayscale(0%) brightness(100%);
}
.project-img:hover img:nth-child(3) {
  transition: all 0.5s ease;
  bottom: 140px;
  filter: grayscale(0%) brightness(100%);
}

/*Text area right*/
.project-description {
  margin-bottom: 30px;
}
.project-role {
  margin-bottom: 30px;
}

/*Decoration*/
.sechseck1,
.sechseck2,
.sechseck3,
.sechseck4,
.sechseck5 {
  position: absolute;
}

.sechseck1 {
  top: 10%;
  left: 10%;
  transform: rotate(200deg);
  height: 100px;
}

.sechseck2 {
  right: 15%;
  top: -5%;
  height: 150px;
  transform: rotate(50deg);
}

.sechseck3 {
  right: 5%;
  bottom: 0%;
  height: 100px;
  transform: rotate(100deg);
}

.sechseck4 {
  left: 5%;
  bottom: 0%;
  height: 120px;
  transform: rotate(150deg);
}

/*DARKMODE*/
.dark-mode {
  color: red;
  background-color: white;
}

.h1-dark {
  color: green;
}

/*Desktop klein*/
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 65px;
  }
}

/*tablet*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  header section h2 {
    margin: 15px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 25px;
    font-weight: lighter;
    color: var(--white);
    margin-bottom: 30px;
  }
  h5 {
    font-size: 35px;
    font-weight: lighter;
    color: var(--html);
    margin-bottom: 30px;
  }

  h6 {
    font-size: 18px;
    color: var(--main);
  }
  p {
    font-size: 16px;
    line-height: 30px;
  }
  p span,
  ::before,
  ::after {
    font-family: "Source Serif 4", sans-serif;
    font-size: 10px;
    letter-spacing: 0;
    color: var(--html);
    text-transform: none;
    opacity: 0.5;
  }

 

  h1 span,
  h2 span {
    letter-spacing: 6px;
    display: block;
    padding: 0 0px;
  }

  .g-line{
    display: none;
  }

  /*Burger*/
  .toggle-button-menu {
    display: flex;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 25px;
  }

   .navbar-link{
     display: none;
     background-color: var(--background);
     opacity: 0.995;
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 100px;
     z-index: 10;
     justify-content: center;
    left: 0;
    }
   nav ul{
     flex-direction: column;
     justify-content: space-between;
     z-index: 10;
     height: 20%;
   }

   nav ul li {
     margin-bottom: 50px;
     font-size: 30px;
   }

   .nav-open {
    display: flex;
}
  .navbar{
  padding-top:20px ;
}

  /*General settings end*/

  /*Header*/

  header section {
    height: 60%;
  }

  header section div::after {
    bottom: 110px;
  }

  .title-wrapper {
    margin-bottom: 30px;
    position: relative;
  }

  header section p::before {
    bottom: 75px;
  }

  header section p::after {
    bottom: 35px;
  }

  header section::after {
    bottom: -80px;
  }

  header,
  .thats-me,
  .projects-main-wrapper {
    padding: 0 30px;
  }

  /*Main*/

  /*Thats me*/

  .thats-me .h2 {
    margin-bottom: 40px;
    padding-left: 0;
    margin-top: 20px;
  }

  .thats-me::before {
    top: 43px;
  }

  .thats-me .h2::before {
    top: -15px;
  }
  .thats-me .h2::after {
    bottom: -15px;
  }

  .thats-me-description::before {
    top: -25px;
  }

  .thats-me-description::after {
    bottom: -25px;
  }

  .thats-me-description {
    margin-bottom: 64px;
    padding-left: 0;
  }

  .thats-me::after {
    bottom: 22px;
  }

  .thats-me a {
    margin-left: 0;
  }

  .thats-me a::before {
    top: -28px;
    left: 0px;
  }

  .thats-me a::after {
    bottom: -26px;
    left: 0;
  }

  /*Work*/

  .projects-main-wrapper::after {
    bottom: 20px;
  }
  .projects-main-wrapper::before {
    top: 20px;
  }

  .projects-main-wrapper h2::before {
    top: 45px;
  }

  .projects-main-wrapper h2::after {
    bottom: -17px;
  }

  .project-img {
    margin: 0 auto 30px auto;
  }
  .projects-main-wrapper h2 {
    padding-top: 65px;
    padding-left: 0;
  }

  .projects .element {
    display: block;
    text-align: center;
  }

  .project-text {
    width: 100%;
  }

  .project-counter {
    display: none;
  }
  .projects-article {
    width: 100%;
  }

  .project-img:hover img:nth-child(1) {
    bottom: -81px;
  }
  .project-img:hover img:nth-child(3) {
    bottom: 100px;
  }

  .element {
    transform: none !important;
  }

  .project-text h5 {
    display: none;
  }

  .deko{
    opacity: 0.3;
  }

}

/*handy*/
@media screen and (max-width: 576px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  header section h2 {
    margin: 10px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
    font-weight: lighter;
    color: var(--white);
    margin-bottom: 20px;
  }
  h5 {
    font-size: 25px;
    font-weight: lighter;
    color: var(--html);
    margin-bottom: 30px;
  }

  h6 {
    font-size: 16px;
    color: var(--main);
  }
  p {
    font-size: 16px;
    line-height: 30px;
  }
  p span,
  ::before,
  ::after {
    font-family: "Source Serif 4", sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    color: var(--html);
    text-transform: none;
    opacity: 0.5;
  }



  h1 span,
  h2 span {
    letter-spacing: 6px;
    display: block;
    padding: 0 0px;
  }

 

 

  .circle-logo {
    height: 40px;
    width: 40px;
    margin-right: 9px;
  }

  /*General settings end*/

  /*Header*/

  .title-wrapper::before,
  .title-wrapper::after {
    display: none;
  }
  header section div::after {
    bottom: 190px;
  }

  header section p::before {
    display: none;
  }

  header section p::after {
    display: none;
  }

  header section div::before {
    top: 113px;
  }

  /*thats me*/

  .thats-me {
    display: block;
  }

  .first-article {
    padding-top: 60px;
    margin-bottom: 30px;
  }
  .thats-me article {
    width: 100%;
  }

  /*Work*/
  .project-img {
    margin: 0 auto 20px auto;
    max-width: 130px;
    height: 122px;
  }

  .project-description {
    margin-bottom: 20px;
}
.project-role {
  margin-bottom: 20px;
}
}

/*handy SEHR KLEIN*/
@media screen and (max-width: 425px) {
  h1 {
    font-size: 22px;
    
  }
  header section div::before {
    top: 150px;
  }
  header section div::after {
    bottom: 220px;
  }
  header section p::before {
    bottom: 193px;
  }
  header section p::after {
    bottom: 145px;
  }
  header section::after {
    bottom: -130px;
  }
}
